
@model CycloRoutes.Data.Review

@{
    ViewData["Title"] = "Details";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Detaily</h1>

    <div>
        <h4>Recenze</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TrailID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TrailID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rating)
            </dd>
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LikeCount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LikeCount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DislikeCount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DislikeCount)
            </dd>*@
        </dl>
    </div>
    <div>
        @if (Model.UserID == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).ToString()) {
            <a asp-action="Edit" asp-route-id="@Model.ID">Editovat</a> }
        <a asp-action="Index">Zpátky na seznam</a>
    </div>
}
else
{
    <h1>Přihlaš se!</h1>
}